:root {
  --dark_primary_theme: #dedecc;
  --primary_theme: #f5f5dc;
  --secondary_theme: #13261c;
  --light_secondary_theme: #606c38;
  --light_tertiary_theme: #dda15e;
  --tertiary_theme: #bc6c25;
  --transparent: rgba(0, 0, 0, 0);
}




/* General styling */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary_theme);
}

.root-site {
  background-color: var(--secondary_theme);
  color: var(--primary_theme);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
}

.page {
  height: fit-content;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

.page:last-child {
  border: 0;
}

.home {
  width: 100vw;
  padding: 0;
  /* margin: 0 2.5vw; */
}




/* Reused Styling */

.margin {
  height: 0;
  margin: 2%;
}

.item-card {
  margin: 0 auto;
  border-bottom: 2px solid var(--secondary_theme);
  background-color: var(--transparent);
  color: var(--secondary_theme);

  &:hover {
    background-color: var(--dark_primary_theme);
  }
}

.item-card.bottom {
  border-bottom: 0;
}

.item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  height: fit-content;
  padding: 1.5% 2.5%;

  &:hover {
    cursor: pointer;
  }
}

.item-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.item-logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
}

.item-titlecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.item-title {
  font-size: 2.5rem;
  font-weight: 100;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
}

.item-title.subtitle {
  font-size: 1.75rem;
  font-style: italic;
  margin: 0;
}

.item-title.when {
  font-size: 1.5rem;
}

.item-when {
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 auto;
}

.item-logo {
  width: 4em;
  height: fit-content;
  padding-bottom: 2px;
  box-shadow: none;
}


.item-logo.lone {
  margin: 0 1em;
}

.item-logo.medium {
  width: 8em;
}

.item-logo.large {
  width: 10em;
}

.item-logo.xlarge {
  width: 25em;
}

.item-link {
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  height: fit-content;
  padding-bottom: 2px;
  margin: 0 1em;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--primary_theme);
      transition: width 0.3s;
  }
}

.item-link:hover::before {
  width: 100%;
}

.item-link.header {
  border: none;
  box-shadow: none;
  border-radius: 10%;
  padding: 0;
  margin: 0;
}

.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: fit-content;
  margin: 0;
}

.item-header-box {
  border-radius: 10%;
  padding: 0;
  border: 2px solid var(--secondary_theme);
  box-shadow: 0 0 5px var(--secondary_theme);
  background-color: var(--transparent);
  margin: 0 0 0 1.5%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: oblique;
}

.box-list {
  margin: 0;
  padding: 1em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
}

.box-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  margin: 1vh 0;
}

.item-drawer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out 0s;
  will-change: max-height;
  margin: 0 auto;
  width: 90%;
}

.item-drawer.visible {
  height: fit-content;
  max-height: 50vh;
}

.item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em auto;
  width: 100%;
  font-size: 1.25rem;
  height: fit-content;
}

.item-description {
  width: 70%;
}

.bullet-list-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.list-title {
  font-size: 1.5rem;
  font-weight: 500 !important;
  text-transform: uppercase;
  margin: 0.5em auto;
  text-align: center;
}

.bullet-list {
  list-style: disc;
  text-align: center;
  row-gap: 5%;
  margin: 1em 0;
  padding: 0;
}

.bullet-list.double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bullet-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  text-transform: uppercase !important;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box-title {
  font-size: 1.5rem;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.text-box-text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side-by-side.even {
  justify-content: space-evenly;
}

.side-by-side.end {
  justify-content: flex-end;
}

.top-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}




/* Header styling */

.header {
  display: flex;
  flex-direction: row;
  height: 15vh;
  overflow: hidden;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--transparent);
  /* color: var(--secondary_theme); */
  margin: 0 auto;
  padding: 1.5% 0;
}

.header-logo-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin: 0 1vw;
  width: fit-content;
}

.header-name {
  font-size: 3em;
  font-weight: 600;
  margin: auto auto 0;
  text-transform: uppercase;
}

.header-job {
  font-weight: 100;
  font-size: 1.5em;
  margin: 0 auto auto;
}

.header-link {
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none !important;
  position: relative;
  padding-bottom: 2px;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--primary_theme);
      transition: width 0.3s;
  }
  }

.header-link:hover::before {
  width: 100%;
}

.header-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  gap: 1vw;
  width: 35vw;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
}

.contact-logo {
  width: 3vw;
  border-bottom: none !important;
  height: fit-content !important;
  padding: 0 !important;
}




/* Footer Styling */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  align-items: center;
  overflow: hidden;
  width: 90%;
  text-align: center;
  background-color:var(--primary_theme);
  color: var(--secondary_theme);
  margin: 0 auto;
  padding: 2em 0;
  border-top: 4px solid var(--secondary_theme);
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: none;
}

.item-logo.footer {
  width: 3.5em;
  border-top: none !important;
  height: fit-content !important;
  padding: 0 !important;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 1em;
}




/* Profile Styling */

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5%;
  border-radius: 10%;
}

.profile-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* color: var(--secondary_theme); */
  margin: 2em auto;
}

.header-name.home {
  margin: 0.125em 0;
  font-size: 2.75rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  width: fit-content;
}

.profile-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-photo {
  padding: 0 2.5%;
  width: 43%;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%
}

.profile-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10%;
  padding: 0;
  border: 2px solid var(--secondary_theme);
  box-shadow: 0 0 5px var(--secondary_theme);
  background-color: var(--transparent);
  font-style: oblique;
}

.box-list.home {
  padding: 1em;
  list-style: none;
  text-transform: uppercase;
  gap: 2.5%;
}




/* Card Styling */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  padding: 0.5em;
  border: 2px solid var(--secondary_theme);
  box-shadow: 0 0 5px var(--secondary_theme);
  background-color: var(--transparent);
  /* color: var(--secondary_theme); */
  width: 25%;
}

.card-title {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.card-description {
  width: 90%;
  margin: 0 auto 1em;
  font-size: 1.125rem;
}



/* Career Styling */

.top-bottom.careers {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.career {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--transparent);
  width: fit-content;
  padding: 1em 0;
  border-radius: 15px;
  max-height: 4em;
  overflow-y: hidden;
  will-change: max-height;
  transition: max-height 0.5s ease-in-out 0s;

  &:hover {
    max-height: 20em;
  }
  
}

.career-title {
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 0;
  font-size: 2rem;
}

/* .primary  {
  color: var(--light_secondary_theme);
}

.secondary {
  color: var(--tertiary_theme);
}

.tertiary {
  color: var(--light_tertiary_theme);
} */




/* Experience Styling */

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em;
  font-size: 1.25rem;
}



/* NEW */

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  padding: 5vh 0 0;
}

.intro-header {
  text-align: center;
  position: absolute;
  top: 5vh;
  margin: 0 auto;
  width: 60vw;
  height: fit-content;
}

.intro-name {
  font-size: 5em;
  letter-spacing: 1vw;
  text-transform: uppercase;
  margin: 0 auto;
  width: fit-content;
}

.intro-title {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  font-size: 2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
  width: 34vw;
  top: 17vh;
  left: 13vw;
  transition: top 0.7s ease-in-out 0s, left 0.7s ease-in-out 0s;
}

.intro-title.open {
  top: 30vh !important;
  left: 1vw !important;
}

/* .intro-title.open {
  top: 30vh;
  left: 5vw;
  max-height: 70vh;
} */

/* .intro-careers {
  position: absolute;
  left: 70vw;
  top: 50%;
  width: 25vw;
  margin: 0 5vw 0 auto;
} */

.intro-pic {
  height: 90vh;
  width: 40vw;
  margin: 0 0 5vh;
}

.intro-body {
  position: absolute;
  width: 50vw;
  margin: 0;
  top: 30vh;
  right: 5vw;
}

.intro-description {
  font-size: 0.75em;
  text-transform: none;
  font-style: normal;
  color: var(--transparent);
  max-height: 0;
  transition: color 0.3s ease-in-out 0.3s, max-height 0s ease 0;
}

.intro-description.open {
  color: var(--primary_theme);
  max-height: 500px;
}

.new-header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1vh 0;
  margin: 1vh auto;
}

.new-header-title {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: normal;
  width: fit-content;
  text-transform: uppercase;
}

.new-header-left-container {
  width: 20vw;
}

.new-header-logo {
  width: 3vw;
}

.new-header-container {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-logo {
  width: 3vw;
}