:root {
  --dark_primary_theme: #dedecc;
  --primary_theme: #f5f5dc;
  --secondary_theme: #13261c;
  --light_secondary_theme: #606c38;
  --light_tertiary_theme: #dda15e;
  --tertiary_theme: #bc6c25;
  --transparent: rgba(0, 0, 0, 0);
}




/* General Styling */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary_theme);
}

.root-site {
  background-color: var(--secondary_theme);
  color: var(--primary_theme);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
}

.page {
  height: fit-content;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

.page:last-child {
  border: 0;
}

.home {
  position: relative;
  height: fit-content;
  width: 100vw;
  padding: 0;
}

.content {
  margin: 0;
  position: relative;
  height: fit-content;
}




/* Reusable Styling */

.item-link {
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  height: fit-content;
  padding-bottom: 2px;
  margin: 0 1em;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--primary_theme);
      transition: width 0.3s;
  }
}

.item-link:hover::before {
  width: 100%;
}

.wrap-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-list.large {
  height: fit-content;
  font-size: 1.125em;
}

.list-item {
  padding: 0;
  margin: 3%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto 5vh;
}

.top-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link-item {
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none !important;
  position: relative;
  padding-bottom: 2px;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--primary_theme);
      transition: width 0.3s;
  }
}

.link-item:hover::before {
  width: 100%;
}

.drawer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out 0s;
  will-change: max-height;
}

.drawer.visible {
  height: fit-content;
  max-height: 50vh;
}

.contact-logo {
  width: 50px;
  border-bottom: none !important;
  padding: 0 !important;
}




/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 15vh;
  padding: 0;
  background-color: var(--secondary_theme);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 999;
  overflow-y: scroll;
}

.header-name {
  font-size: 5.5em;
  letter-spacing: 1vw;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1vh 0;
  width: 100%;
  height: 15vh !important;
  opacity: 1;
  transition: opacity 0.25s ease 0s;
}

.header-name.invisible {
  opacity: 0;
  transition: opacity 0.25s ease 0s;
}

.header-subtitle {
  width: 60vw;
  background-color: var(--secondary_theme);
  transition: height 0.5s ease-in-out;
}




/* Intro */

.intro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  position: relative; /* Required for absolute positioning */
  opacity: 0;
  transition: opacity 1s ease 0.5s;
}

.intro.visible {
  opacity: 1;
}

.intro-pic {
  width: 48vw;
  margin: 0 auto;
}

.intro-more {
  position: absolute;
  width: 25vw;
  margin: 0 auto;
  padding: 0;
  top: 80vh;
  height: 10vh;
  background-color: var(--primary_theme);
  color: var(--secondary_theme);
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease 3s;
  user-select: none;
}

.intro-more.visible {
  opacity: 1;
}

.intro-title {
  position: absolute;
  top: 200px;
  font-size: 2em;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
  width: fit-content;
}




/* About */

.about {
  height: 85vh;
  position: relative;
  width: 100vw;
  opacity: 0;
  transition: opacity 2s ease;
  overflow-x: hidden;
}

.about.in-view {
  opacity: 1;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 45vw;
  height: 75vh;
  padding: 0;
  margin: 0;
  top: 10vh;
}

.about-box.profile {
  left: -10%;
  margin-right: 2.5vw;
  transition: left 10s cubic-bezier(0, 1, 0, 0.9);
}

.about-box.summary {
  right: -10%;
  margin-left: 2.5vw;
  transition: right 5s cubic-bezier(0, 1, 0, 0.9);
}

.about-box.summary.in-view {
  right: 2.5vw;
}
.about-box.profile.in-view {
  left: 2.5vw;
}

.about-name {
  width: 100%;
  text-align: left;
  font-size: 2em;
  margin: 0;
}

.about-description {
  font-size: 1.25em;
}

.about-photo {
  width: 45vw;
  background-color: var(--primary_theme);
}




/* Education */

.education {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

.education-photo {
  width: 10vw;
  height: 10vw;
  background-color: var(--primary_theme);
  border-radius: 20px;
}

.education-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vw;
}

.education-title {
  font-size: 1.6em;
  margin: 0 auto 1vh;
}

.education-title.subtitle {
  font-style: oblique;
  font-size: 1.25em;
  margin: 0 auto;
}

.education-skills {
  display: grid;
  list-style: none;
  width: 100%;
  font-size: 1em;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin: 0;
}




/* Skills */

.skills {
  width: 90vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  gap: 1%;
  opacity: 0;
  transition: opacity 3s ease;
}

.skills.in-view {
  opacity: 1;
  animation: scrollFromDown 2s ease-out 0s;
}

@keyframes scrollFromDown {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(0%);
  }
}

.skills-col {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skill-box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: fit-content;
}

.skill-icon {
  width: 10vw;
}

.skill-name {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 1vh auto 2vh;
}

.skill-progressbar {
  background-color: var(--primary_theme);
  height: 10px;
  margin: 0 auto 1vh;
  border-radius: 5px;
}

.skill-progressbar::-webkit-progress-bar {
  background-color: var(--primary_theme) !important;
  border-radius: 5px;
}

.skill-progressbar::-webkit-progress-value {
  border-radius: 5px 0 0 5px;
  background-color: var(--light_secondary_theme) !important;
}

.skill-progressbar::-moz-progress-bar {
  border-radius: 5px;
  background-color: var(--primary_theme) !important;
}

.skill-progressbar::-moz-progress-value {
  border-radius: 5px 0 0 5px;
  background-color: var(--light_secondary_theme) !important;
}

.skill-progress-level {
  margin: 0 auto 1vh;
  font-size: 1.125em;
}

.skill-description {
  font-size: 1.125em;
  margin: 1vh auto;
  height: fit-content;
  width: 80%;
}



/* Experience */

.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: fit-content;
  margin: 10vh auto 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 2s ease;
}

.experience.in-view {
  opacity: 1;
  animation: scrollFromDown 1.5s ease-out 0s;
}




/* Work */

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.work-row {
  min-height: 350px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 5vh;
  border-radius: 10px;
}

.work-profile {
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 475px;
  text-decoration: none !important;
  &:hover {
    cursor: pointer;
  }
}

.work-body {
  margin: 45% auto 0;
}

.work-title {
  text-shadow: 0 0 10px black;
  font-size: 2em;
  margin: 1% auto;
  text-transform: uppercase;
}

.work-title.subtitle {
  font-style: oblique;
  font-size: 1.75em;
}

.work-dates {
  text-shadow: 0 0 10px black;
  font-size: 1.5em;
  margin: 1% auto 3%;
}

.work-description {
  font-size: 1.125em;
  width: 500px;
  text-align: left;
  margin-left: 10px;
}

.work-skills {
  font-size: 1.35em;
  width: 450px;
}




/* Project */

.project-section {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.project-col {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.project-col.right {
  margin: 0 auto 0 10px;
}

.project-col.left {
  margin: 0 10px 0 auto;
}

.project-box {
  width: fit-content;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  border-radius: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 1.125em;
  padding: 10px;
  transition: font-size 0.3s ease 0s;
  z-index: 1;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 20px;
  }
}

.project-box:hover {
  font-size: 1.25em;
  text-shadow: 0 0 10px var(--light_secondary_theme);
  box-shadow: 0 0 10px var(--light_secondary_theme);
}

.project-title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 2% auto;
  z-index: 3;
}

.project-title.subtitle {
  font-size: 1.25em;
  font-style: oblique;
  z-index: 3;
}

.project-skills {
  z-index: 3;
}

.project-description {
  margin: 0 auto;
  z-index: 3;
}




/* Contact */

.contact {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light_secondary_theme);
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 0 5vw;
  margin: auto auto 0;
  font-size: 2em;
}

.contact-pic {
  border-radius: 100%;
  width: 300px;
  margin: 0;
  padding: 0;
}

.contact-logo.bottom {
  width: 60px;
  height: 60px;
  margin: 0 30px;
}

.telephone {
  transform: rotate(125deg);
  transition: transform 0.75s ease;
}

.telephone:hover {
  transform: rotate(0deg);
}

.globe:hover {
  animation: rotateContinuous 10s linear infinite;
}

@keyframes rotateContinuous {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}