html{
    color:rgb(215, 201, 162);
    background-color: rgb(19, 38, 28);
}

a{
    color:rgb(255, 239, 195);
}

ol{
    list-style: none;
    font-size: 25px;
    display: inline;
}

li{
    list-style: none;
    display: inline;
}

header{
    display: inline;
}