/* Intro */

.intro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    position: relative; /* Required for absolute positioning */
    opacity: 0;
    transition: opacity 1s ease 0.5s;
    height: fit-content;
    min-height: 650px;
    margin: 50px auto;
}
  
.intro.visible {
    opacity: 1;
}
  
.intro-pic {
    top: 175px;
    position: relative;
    width: 650px;
    margin: 0 auto;
}
  
.intro-more {
    position: relative;
    width: 350px;
    margin: 0 auto;
    padding: 0;
    top: -50px;
    height: 100px;
    background-color: var(--primary_theme);
    color: var(--secondary_theme);
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease 5s;
    user-select: none;
}
  
.intro-more.visible {
    opacity: 1;
}
  
.intro-title {
    text-shadow: 0 0 20px var(--secondary_theme);
    position: absolute;
    top: 125px;
    font-size: 2em;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    width: fit-content;
}

@media (max-width: 1250px) {
    .intro-pic {
        top: 100px;
        width: 600px;
    }
}

@media (max-width: 1000px) {
    .intro-pic {
        top: 150px;
        width: 550px;
    }

    .intro-more {
        height: 75px;
        width: 300px;
        top: 0px;
    }
}

@media (max-width: 900px) {
    .intro-title {
        top: 100px;
    }
}

@media (max-width: 750px) {
    .intro-pic {
        top: 175px;
        width: 450px;
    }

    .intro-more {
        top: 50px;
    }
}

@media (max-width: 500px) {
    .intro-pic {
        top: 200px;
        width: 350px;
        font-size: 1.25em;
    }

    .intro-more {
        top: 75px;
    }
}

@media (max-width: 400px) {
    .intro-pic {
        width: 300px;
    }

    .intro-more {
        width: 200px;
        font-size: 1.125em;
    }
}

@media (max-width: 300px) {
    .intro-pic {
        width: 250px;
    }
}

@media (max-width: 250px) {
    .intro-pic {
        width: 200px;
    }
    .intro-more {
        width: 150px;
        font-size: 1em;
    }
}

@media (max-width: 200px) {
    .intro-pic {
        width: 150px;
    }
    .intro-more {
        width: 100px;
    }
}

/* Experience */

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100vw;
    margin: 10vh auto 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 2s ease;
}
  
.experience.in-view {
    opacity: 1;
    animation: scrollFromDown 1.5s ease-out 0s;
}