:root {
  --primary_theme: rgb(245, 245, 220);
  --secondary_theme: rgb(19, 38, 28);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* General styling */

body {
  margin: 0;
  padding: 0;
  color: var(--secondary_theme);
}

a {
  color: var(--secondary_theme);
}

.page {
  background-color: var(--primary_theme);
}




/* Header styling */

.header {
  display: flex;
  min-height: 20vh;
  overflow: hidden;
  width: 90%;
  justify-content: space-evenly;
  text-align: center;
  background-color:rgb(245, 245, 220);
  color: rgb(19, 38, 28);
  margin: 0 auto;
  padding: 2.5vh 0;
  border-bottom: 4px solid rgb(19, 38, 28);
}


.header-link {
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: none !important;
  position: relative;
  margin: 1vw 2vw;
  padding-bottom: 2px;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--secondary_theme);
      transition: width 0.3s;
  }
  }

.header-link:hover::before {
  width: 100%;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.header-name {
  font-size: 3rem;
  font-weight: 600;
  margin: auto auto 0;
}

.header-job {
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0 auto auto;
}

.header-links {
  list-style: none;
  display: flex;
  padding: 0 2%;
  align-items: center;
}




/* Project styling */

.project-card {
  margin: 0 auto;
  border-bottom: 2px solid var(--secondary_theme);
  padding: 1em;
  background-color: var(--primary_theme);
  color: var(--secondary_theme);
}

.project-header {
  position: relative;
  margin: 0.5em auto;
}

.project-hook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.project-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 1.5em;
}

.project-titlecard {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  margin: 1% auto 2%;
}

.project-title {
  width: fit-content;
  font-size: 2.25rem;
  margin: auto;
  font-weight: 500;
  text-transform: uppercase;
}

.project-subtitle {
  font-size: 1.5rem;
  margin: auto;
  text-transform: uppercase;
  font-style: italic;
}

.project-external {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 75%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-skills {
  margin: 2vh auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
}

.project-skill {
  background-color: rgb(19, 38, 28);
  color: rgb(245, 245, 220);
  padding: 0.5%;
  border-radius: 5%;
  text-align: center;
  font-size: 1.25rem;
  max-width: 25%;
  margin: 1vh 0;
}

.project-description {
  font-size: 1.125rem;
  margin: 0 2em;
}

.project-link {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2px;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: rgb(19, 38, 28);
      transition: width 0.3s;
  }
}

.project-link:hover::before {
  width: 100%;
}

.project-button-image {
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
}



/* ProjectPage styling */

.projects {
  padding: 0 7.5%;
}




/* Experience styling */

.experience-card {
  margin: 0 auto;
  border-bottom: 2px solid var(--secondary_theme);
  padding: 1em;
  background-color: var(--primary_theme);
  color: var(--secondary_theme);
}

.experience-header {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.experience-title {
  width: fit-content;
  font-size: 2rem;
  font-weight: 100;
  margin: 0 auto 0.5em;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(19, 38, 28);
    transition: width 0.3s;
  }
}

.experience-title:hover::before {
  width: 100%;
}

.experience-where {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 auto;
}

.experience-ps {
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 auto;
  font-style: italic;
}

.experience-when {
  width: fit-content;
  font-size: 1rem;
  font-weight: 100;
  margin: 0.5em auto;
}

.experience-skills {
  background-color: var(--secondary_theme);
  color: var(--primary_theme);
  border-radius: 10%;
  padding: 1em;
}

.experience-skills-title {
  border-bottom: 2px solid var(--primary_theme);
}

.experience-skills-title, .experience-description-title {
  text-align: center;
  width: fit-content;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 auto;
}

.experience-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
}

.experience-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 2.5%;
  width: 25%;
}

.experience-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 2.5%;
  width: 15%;
}

.experience-skill-list {
  margin: 2vh auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
}

.experience-skill {
  text-align: center;
  font-size: 1.25rem;
  margin: 1vh 0;
}

.experience-description {
  width: 45%;
  margin: auto 2.5%
}

.experience-description-text {
  font-size: 1.125rem;
}

/* .experience-link {
  text-decoration: noe;
  position: relative;
  margin: auto !important;
  padding-bottom: 2px;

  &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: rgb(19, 38, 28);
      transition: width 0.3s;
  }
}

.experience-link:hover::before {
  width: 100%;
} */




/* ExperiencePage styling */

.experience {
  padding: 0 7.5%;
}