/* Project */

.project-section {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
.project-col {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
  
/* .project-col.right {
    margin: 0 auto 0 10px;
}
  
.project-col.left {
    margin: 0 10px 0 auto;
} */
  
.project-box {
    width: 45%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    margin: 20px auto;
    border-radius: 20px;
    background-size: 100%;
    background-repeat: repeat-y;
    font-size: 1.125em;
    padding: 10px;
    transition: font-size 0.3s ease 0s;
    z-index: 1;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;
      border-radius: 20px;
    }
}
  
.project-title {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 2% auto;
    z-index: 3;
}
  
.project-title.subtitle {
    font-size: 1.25em;
    font-style: oblique;
    z-index: 3;
}
  
.project-skills {
    z-index: 3;
}
  
.project-description {
    margin: 0 auto;
    z-index: 3;
}

@media (min-width: 700px) {
    .project-box:hover {
        font-size: 1.25em;
        box-shadow: 0 0 10px var(--primary_theme);
        text-shadow: 0 0 10px var(--secondary_theme);
        cursor: pointer;
    }
}

@media (max-width: 1000px) {
    .project-box {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .project-box {
        font-size: 0.9em;
        box-shadow: 0 0 10px var(--primary_theme);
        text-shadow: 0 0 10px var(--secondary_theme);
        cursor: pointer;
        &::before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 2;
            border-radius: 20px;
        }
    }
}

@media (max-width: 500px) {
    .project-box {
        font-size: 1.25em;
    }
}